<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
	<head>
		<meta charset = "utf-8">
		<meta name="author" content="NOMECRIADOR">
		<meta name="ketwords" content="PALAVRAS, CHAVE, SEPARADAS, POR, VIRGULA">
		<meta name="description" content="DESCRICAO DO SITE">
		<link rel="stylesheet" type="text/css" href="style/normalize.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style/hibrido.css">
		

		<!--[if it IE 9]>
			<script src="script/htmlshiv.js"></script>
		<![endif]-->
		<script src="script/prefixfree.min.js"></script>
		<title>TITULODAPAGINA</title>
		
	</head>
	<body>
	
		<div class="esq"></div>
		<div class="dir"></div>
	
		<div class="container">
		
			<nav class="no">
				<i class="car">&#128722;</i>
				<input class="peq" type="text" value="Digite..."/><label>Pesquise: </label>
				
				<img class="log " src="logo.png" />
				<a class="tit2">M.A Elétro</a>
				
			</nav>
		
			<header class="cabecalho">
				<img class="top" src="top2.jpg">
					<p class="tit">M.A Elétro</p>
					<img class="logo " src="logo.png" />
					<img class="im face" src="face.png" />
					<img class="im" src="insta.png" />
					<img class="im" src="wat.png" />
				</img>
			</header>
			
			<nav class="menu">
				<a class="as di" href="#">Home </a>
				<a class="as" href="#">Produtos </a>
				<a class="as" href="#">Mundo do TI </a>
				<a class="as" href="#">Promoções </a>
				<a class="as" href="#">Download APP</a>
				<a class="as" href="#">Categorias </a>
				<a class="as" href="#">Membros </a>
				<a class="as diferentao" href="#">Fale Conosco </a>
			</nav>
				
			<main class="conteudo">

			</main>
			
			<footer class="rodape">
				
			</footer>
			
		</div>
	</body>
</html>


